body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  text-align: center;
}

.app {
  background-color: #e0e0e0;
  padding: 10px;
  width: 80vw; /* Responsive width based on viewport width */
  height: 80vw; /* Responsive height equal to width */
  max-width: 500px; /* Maximum size limit */
  max-height: 500px; /* Equal maximum height */
  min-width: 500px; /* Minimum size limit */
  min-height: 500px; /* Equal minimum height */
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  overflow: auto; /* Add scroll if content overflows */
}

.section {
  background-color: white;
  width: 90%; /* Adjust the width as needed */
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  max-height: 40vh; /* Set a maximum height */
  overflow: auto; /* Enable scrolling for overflowing content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Rest of your styles (logo, title, button, etc.) remain the same */


.logo {
  max-width: 100px;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 10px;
  color: #007bff; /* Blue color for the app name */
  font-size: 1.8rem; /* Larger font size for the title */
}

.description {
  margin-bottom: 20px;
  font-size: 0.8rem; /* Smaller font size for the description */
}

.summary-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.summary-btn:hover {
  background-color: #0056b3;
}

.loading-message, .summary-content {
  display: none; /* Hide by default */
  text-align: center;
}

.summary-content {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
